  body {


font-family: sans-serif;
padding-left: 11em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		  color: #ffffffda;
    background-color: #252525 }
	  ul.navbar {
     list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
	h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  border-radius: 10px;
  background: #ffffff91;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #ffffff }
ul.navbar a {
  text-decoration: none }
  a:link {
    color: #ffffff }
  a:visited {
    color: #ffffffda }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid #ffffff;
  padding: 10px 20px;
}

th {
  background-color: #ffffff91;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #ffffffb0;
}

tr:nth-child(odd) td {
  background-color: #ffffffb0;
}

caption {
  padding: 10px;
}
  